img{
    height:700px;
    width: 100%;
    object-fit: cover;
    
}
 #w1{
    margin-left: 260px;
 }  
 #w2{
    margin-left: 260px;
margin-top: 40px; 
}

.w7{
height: 300px;
}
.w9{
    height: 300px;
}
#vc{
    background-color:black;
}
.carousel-item h5{
margin-bottom: 450px;
margin-right: 700px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
font-size:xx-large;
color:darkgreen;
}



